<%- include('./header.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (t <= 0) { %>
    <h1>No more cards to learn!</h1>
    <% } else { %>
    <h1>How many cards do you want to learn?</h1>

    <div class="wrapper">
      <form action="/chooseLessons" method="POST">
        <% if (locals.toLearn != 1) { %>
        <input
          type="submit"
          name="choice"
          value="minus"
          class="minus"
          required
        />
        <% } %>
        <span class="num"><%- toLearn %></span>
        <% if (locals.toLearn < locals.t) { %> <% console.log(toLearn); %>
        <input type="submit" name="choice" value="plus" class="plus" required />
        <% } %>
      </form>

      <% if (locals.t >= toLearn) { %>
      <form action="goToLesson" method="post">
        <input type="submit" value="START LESSON" />
      </form>
      <% } %> <% } %>
    </div>
  </body>
</html>
