<%- include('./header.ejs') %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>習う</h1>

    <% console.log("locals.allCards: " + locals.allCards.length); %>
    <% console.log("locals.currentCardIndex: " + locals.currentCardIndex); %>

    <% if (locals.currentCardIndex < locals.allCards.length ) {%>
    <h1><%= locals.allCards[locals.currentCardIndex].jpWord %></h1>
    <form action="/learnSubmit" method="POST">
      <input type="submit" value="習う" required />
    </form>
    <% } else { %>
    <h1>No new words to learn!</h1>
    <% } %>
  </body>
</html>
